body {
	font-family: 'Helvetica Neue';
	background: #BBBD7D;
	color: #ffffff;
	font-size: 23px;
}

#header {
	text-align: center;
}	  

#main-container {
	margin-top: 150px;
	text-align: center;
	width: 775px;
	margin-left: auto;
	margin-right: auto;
}

table{
	text-align: center;
	width: 255px;
	margin: 0 auto;
}	
	
tr{
	background-color: transparent;
}	

td{
	width: 50%;
}	

#container{	 
	text-align: center;
}	
.ui-page { -webkit-backface-visibility: hidden; }

a:link, a:visited {
	font-weight: normal;
	margin-top: 5px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 30px;
	background-color: #003A40;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px;
	border-radius: 8px;
	width: 235px;
	height: 40px;
}

a:hover, a:active {
	font-weight: normal;
	display: inline-block;
	text-transform: uppercase;
	background-color: #FFF9C0;
	color: #003A40;
	text-decoration: none;
	padding: 10px;
	border-radius: 8px;
}

#container a:link, #container a:visited {
	font-weight: normal;
	margin-top: 0px;
	display: block;
	text-transform: none;
	font-size: 23px;
	background-color: transparent;
	color: #FFFFFF;
	text-decoration: none;
	padding: 0px;
	border-radius: 0px;
	width: 255px;
	height: 25px;
}

#container a:hover, #container a:active {
	font-weight: normal;
	display: block;
	text-transform: none
	background-color: transperent;
	color: #FFF;
	text-decoration: none;
	padding: 0px;
	border-radius: 25px;
}

#right {
float: right;
}

#left {
float: left;
}

#bereiden {
clear: both;
}

.eersteUl {
	margin-top: 0;
}